/* brackpoint             class-name           size
    X-small                                   <576px
    Small	                    sm	            ≥576px
    Medium	                  md	            ≥768px
    Large	                    lg	            ≥992px
    Extra large	              xl	            ≥1200px
    Extra extra large	        xxl	            ≥1400px
*/

/* container                class-name               size
    X-small                  container               100%
    Small	                   container-sm	           ≥540px
    Medium	                 container-md	           ≥720px
    Large	                   container-lg	           ≥960px
    Extra large	             container-xl	           ≥1140px
    Extra extra large	       container-xxl	         ≥1320px
*/

div {
  background: var(--bs-info);
  height: 70px;
  margin-bottom: 1rem;
}
